body{
    overflow-x:hidden ;
}
body,  h2, a{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    background-color: 	#00cdba;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.mainbanner{
    position: relative;
}
.mainbanner>img {
    width: 100vw;
}

body{
    background-image: url(/pic/background/Background_Piapro_SEKAI.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
main{
    max-width:1450px;   
    margin: 80px auto;
    padding: 0 10px;
    
}
p{ 
    font-size: 20px;
    text-align: justify;
    padding: 20px;
}

nav{
    padding: 5px;
    position: sticky;
    top: 64px;
    left: 0;
    box-sizing: border-box;
    border: 1px dotted #ccc;
    background-color: rgba(255, 255, 255, 0.5);;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    user-select: none;
}

nav ul{
 white-space: nowrap;
 max-width: 1200px;
 margin: 0 auto;
 text-align: center;

}

nav li{
    display: inline-block;
    width: 20%;
}

nav img{
    width: 7vh;
}
br{
    user-select: none;
}
article {
    box-sizing: border-box;
    border-radius: 35px;
    border: 1px dotted #ccc;
    background-color: rgba(255, 255, 255, 0.774);;

}
article h2{
    padding:10px;
    background-color: 	#00cdba;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    text-align: center;
}

p::selection{
    background-color: none;
    color: 	#00cdba;
}
h2::selection{
    background-color: none;
    color: 	white;
}
em::selection{
    background-color: none;
    color: #00cdba;
}
nav li a img:hover{
    transform: scale(1.1);
    transition: all 350ms;
}

@media screen and (max-width:1024px){
    nav{
        top: 40px;
    }
    
}
@media screen and (max-width: 780px) {
    nav{
        top: 26px;
    }
    nav ul{
        padding-right: 20px;
    }
}


@media screen and (max-width: 560px){
    nav{
        left: 0;
    }
    nav li{
       width: 15%;
    }
}
@media screen and (max-width:480px) {
    nav ul{
        padding-right: 5px;
    }
    header{
        height: 20px;
    }
    nav ul{
        padding-left: 0%;
    }
    nav li{
        width: 15%;
    }
    nav img{
        width: 5vh;
  
    }
    nav{
        top: 20px;
        height: 7vh;
    }
    article p{
        font-size: 18px;
        text-align: justify;
    }
}